
var marker_892e587f20f1457e9e37ef0ea86252ee = L.marker(
            [VARIABILE LAT, VARIABILE LON],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_cf7db3a9a85748e598146e91af4de1ff);
        
    
            var popup_0125805ecf2c4ef09f23ce3b619340c1 = L.popup({maxWidth: '100%'
            
            });

            
                var html_2689f56cfe5d4e0985a381a19931318c = $(`<div id="html_2689f56cfe5d4e0985a381a19931318c" style="width: 100.0%; height: 100.0%;"><div><a href="VARIABILE  LINK 1">VARIABILE PROJECT NAME</a></div></div>`)[0];
                popup_0125805ecf2c4ef09f23ce3b619340c1.setContent(html_2689f56cfe5d4e0985a381a19931318c);
            

            marker_892e587f20f1457e9e37ef0ea86252ee.bindPopup(popup_0125805ecf2c4ef09f23ce3b619340c1)
            ;